.footer-body{
    height: 8.5vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
}


.footer-container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.camera{
    display: none;
}

.name{
    font-size: xx-large;
    font-weight: lighter;
    font-family: 'Grand Hotel', cursive;
    color: black;
    text-decoration: none;
}


.footer-container>input{
    height: 25px;
    width: 200px;
    background-color: rgba(230, 225, 225, 0.411);
    border: 0.5px solid lightgray ;
    border-radius: 2px;
}

.fs::placeholder{
    text-align: center;
    /* font-family: FontAwesome; */

}

.footer-icons{
    display: flex;
    align-items: center;
    /* background-color: lightblue; */
    width: 20%;
    justify-content: space-between;
}


.footer-icons > img{
    height: 27px;
}

.fp-btn{
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.fp-btn:hover{
    cursor: pointer;
}



@media (max-width: 400px){
    .footer-container{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    .footer-icons{
        display: flex;
        align-items: center;
        /* background-color: lightblue; */
        width: 8%;
        justify-content: center;
        
    }

    .camera{
        display: flex;
    }

    .home-icon, .explore-icon, .news-icon, .fp-btn{
        display: none;
    }

    .fs{
        display: none;
    }
}